# Build artifacts
target/
build/

# Log files
*.log

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# We want to commit the wrapper jar, but not the properties file.
.mvn/wrapper/maven-wrapper.properties
!/.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.factorypath
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
